<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Locatty | 物々交換サイト</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!--ヘッダー-->
    <div class="header">
        <div class="header-left">
            <h1 class="header-title">Locattey</h1>
        </div>
        <div class="header-right">
            <ul class="header-right_list">
                <li>出品する</li>
                <li>お気に入り</li>
                <li>通知</li>
                <li>閲覧履歴</li>
            </ul>
        </div>
    </div>
    <!--メイン-->
    <div class="wrap">
        <div class="main">
            <h3 class="main-title">出品リスト</h3>
            <div class="main-section">
                <div class="main-section_img">
                    <img src="img/noimage.jpg" alt="">
                </div>
                <div class="main-section_title">
                    コメントコメントコメントコメント
                </div>
            </div>
            <div class="main-section">
                <div class="main-section_img">
                    <img src="img/noimage.jpg" alt="">
                </div>
                <div class="main-section_title">
                    コメントコメントコメントコメント
                </div>
            </div>
            <div class="main-section">
                <div class="main-section_img">
                    <img src="img/noimage.jpg" alt="">
                </div>
                <div class="main-section_title">
                    コメントコメントコメントコメント
                </div>
            </div>
            <div class="main-section">
                <div class="main-section_img">
                    <img src="img/noimage.jpg" alt="">
                </div>
                <div class="main-section_title">
                    コメントコメントコメントコメント
                </div>
            </div>
            <div class="main-section">
                <div class="main-section_img">
                    <img src="img/noimage.jpg" alt="">
                </div>
                <div class="main-section_title">
                    コメントコメントコメントコメント
                </div>
            </div>
            <div class="main-section">
                <div class="main-section_img">
                    <img src="img/noimage.jpg" alt="">
                </div>
                <div class="main-section_title">
                    コメントコメントコメントコメント
                </div>
            </div>
            <div class="main-section">
                <div class="main-section_img">
                    <img src="img/noimage.jpg" alt="">
                </div>
                <div class="main-section_title">
                    コメントコメントコメントコメント
                </div>
            </div>
            <div class="main-section">
                <div class="main-section_img">
                    <img src="img/noimage.jpg" alt="">
                </div>
                <div class="main-section_title">
                    コメントコメントコメントコメント
                </div>
            </div>
            <div class="main-section">
                <div class="main-section_img">
                    <img src="img/noimage.jpg" alt="">
                </div>
                <div class="main-section_title">
                    コメントコメントコメントコメント
                </div>
            </div>
        </div>
        <div class="main-pagination">
            <ul class="main-pagination_num">
                <li> >> </li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li> << </li>
            </ul>
        </div>
        <div class="right-menu">
            <form action="" class="right-menu_form">
                <input type="text" class="right-menu_input">
                <input type="submit" class="right-menu_submit" value="検索">
            </form>

            <h4 class="right-menu_title">
                カテゴリー
            </h4>
            <ul class="right-menu_list">
                <li>家電</li>
                <li>家具</li>
                <li>生活雑貨</li>
                <li>アウトドア</li>
                <li>スポーツ</li>
                <li>パソコン</li>
                <li>ケータイ/スマホ</li>
                <li>子供用品</li>
                <li>おもちゃ</li>
                <li>本/雑誌</li>
                <li>ゲーム</li>
                <li>CD/DVD/BD</li>
                <li>コスメ</li>
                <li>ヘルスケア</li>
                <li>バッグ</li>
            </ul>

            <div class="right-menu_title">
                ご案内
            </div>
            <ul class="right-menu_list">
                <li>サイト案内</li>
                <li>お知らせ</li>
                <li>出品の流れ</li>
                <li>引き取りの流れ</li>
                <li>よくある質問</li>
                <li>お問い合わせ</li>
            </ul>

            <div class="right-menu_title">
                SNS
            </div>
            <ul class="right-menu_list">
                <li>Twitter</li>
                <li>Facebook</li>
                <li>Instagram</li>
            </ul>
        </div>
    </div>

    <div class="footer">
        &copy; Locattey All rights reserved.
    </div>
    <script src="src/app.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
</body>

</html>