//===================================
//変数
//===================================

$font-color_default : #3c3c3c;
$font-color-date : #ffc876;
$color_corp: #b99f61;
$font-color_sub1 : #fbffce;
$font-color_sub2 : #efefef;
$font-color_sub3 : #bfbfbf;

$site-width: 100%;

$font-size_s : 12px;
$font-size_m : 14px;
$font-size_default : 16px;
$font-size_l : 18px;
$font-size_2l : 24px;
$font-size_3l : 30px;
$font-size_4l : 38px;

$space_s : 5px;
$space-m : 10px;
$space-l : 15px;
$space_2l : 20px;
$space_3l : 30px;
$space_4l : 40px;

$font-family_corp: "Helvetica Neue",
Arial,
"Hiragino Kaku Gothic ProN",
"Hiragino Sans",
Meiryo,
sans-serif;

$breakpoints : (
    'sm' : 'screen and (max-width: 414px)',
    'md' : 'screen and (max-width: 768px)',
    'lg' : 'screen and (max-width: 1000px)',
    'xl' : 'screen and (max-width: 1200px)',
)        !default;

@mixin mq1($breakpoint: sm) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin mq2($breakpoint: md){
    @media #{map-get($breakpoints,$breakpoint)}{
        @content
    }
}

//===========================================
//base
//===========================================

html,body{
    font-size: $font-size_default;
    background: #efefef;
    color: $font-color_default;
    line-height: 1.6rem;
    letter-spacing: 0.1rem;
    font-family: $font-family_corp;
    width: $site-width;
    margin: 0;
    padding: 0;
}

p,a{
    -webkit-font-smoothing: antialiased;
}

a{
    color: $font-color_default;
    text-decoration: none;
    transition: 0.25s;
}

a:hover{
    color: $font-color_default;
    background: $font-color_sub1;
    transition: 0.25s;
}

img{
    width: $site-width;
    height: auto;
    vertical-align: bottom;
}

ul {
    list-style: none;
}

//===================================
//header
//===================================

.wrap{
    width: $site-width;
    margin:0 auto;
    display: flex;
    flex-direction: column;
}

.header{
    width: $site-width;
    height: 100px;
    background: $color_corp;
    display: flex;
    justify-content: center;
    align-content: center;
}

.page_title{
    width: $site-width;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
}

//====================================
//main
//====================================

.main{
    width: $site-width;
    padding: $space-l;
    background: $font-color_sub2;
    box-sizing: border-box;
}

.section{
    width: 100%;
    border: 3px solid $color_corp;
    border-radius: 30px;
    background: $font-color_sub2;
    margin-bottom: $space_4l;

}

.section_title{
    font-size: $font-size_l;
    width: 90%;
    background: $font-color_sub2;
    text-align: left;
    border-bottom: 3px solid $color_corp;
    margin: $space_2l auto;
}

.section_list{
    font-size: $font-size_default;
    padding-bottom: $space-l;
    margin-left: $space_3l;
}

.links{
    text-align: center;
}


//=====================================
//login
//=====================================

.form{
    width: $site-width;
    padding: $space-l;
    box-sizing: border-box;
}

.label{
    width: $site-width;
    text-align: left;
    display: block;
}

.input{
    width: 90%;
    height: 30px;
    padding: $space_s;
    box-sizing: border-box;
    font-size: $font-size_default;
}

.submit{
    width: 100px;
    height: 40px;
    font-size: $font-size_default;
    margin: $space-l auto;
    background: $color_corp;
    color: $font-color_default;
}
